@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0d0d0d;
  --secondary: #b7ab98;
  --secondary-light: hsla(37, 18%, 66%, 0.5);
  --third: #eb5939;
  --screen-x: 1.25rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

body, html {
  background: var(--primary);
  color: var(--secondary);
}

.h1, h1 {
  font-size: 5rem;
  letter-spacing: -.05em;
  line-height: 84%;
  text-transform: uppercase;
}

.h2, h2 {
  font-size: 3.9rem;
  letter-spacing: -.04em;
  line-height: 100%;
  font-weight: 500;
}

.h6, h6 {
  font-size: .75rem;
  line-height: 130%;
  letter-spacing: .75rem;
}

.row {
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

.row>* {
  margin-top: calc(var(--bs-gutter-y));
  max-width: 100%;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
}

@media (max-width: 767px) {
  .row {
    --bs-gutter-x: 0.625rem;
  }
}

@media(min-width: 768px) and (max-width: 1199px) {
  :root {
    --screen-x: 2.66666vw;
    --spacing-upper: 16.5625rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --screen-x: 4.0509vw;
  }
  body,html {
    font-size: .9259vw;
  }
}


