@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --primary: #0d0d0d;
  --secondary: #b7ab98;
  --secondary-light: hsla(37, 18%, 66%, 0.5);
  --third: #eb5939;
  --screen-x: 1.25rem;
}

body, html {
  background-clip: border-box;
  background: var(--primary);
}

@media(min-width: 768px) and (max-width: 1199px) {
  :root {
    --screen-x: 2.66666vw;
    --spacing-upper: 16.5625rem;
  }
}

@media (prefers-color-scheme: no-preference) {
  :root {

  }
}

body {
  color: var(--secondary);
  background-color: var(--primary);
}
